
{% extends 'admin/master.html' %} 

{% block body %}
    <div class="row-fluid">

        <div>
            {% if current_user.is_authenticated %}

            <h1>oneiNote-Admin</h1>

            <p class="lead">
              Welcome,
            </p>
            <p>This is the admin interface to the RESTful oneiNote app.</p>
            <p>Here you can create users, roles and notes.</p>
            {% else %}
            <form method="POST" action="">
                {{ form.hidden_tag() if form.hidden_tag  }}
                {% for f in form if f.type != 'CSRFTokenField' %}
                <div>
                    {{ f.label }}
                    {{ f }}
                    {% if f.errors %}
                    <ul>
                        {% for e in f.errors %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                <button class="btn" type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

